* {
  margin: 0;
  padding: 0; }

body {
  width: 100%;
  height: 100%;
  background-color: #F4F4F4; }
  body * {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; }
  body h1 {
    font-weight: bold;
    font-size: 24px; }
  body .wrapper {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 0; }
    body .wrapper #content {
      margin-top: 20px;
      font-size: 18px;
      font-weight: 400;
      line-height: 28px; }
      body .wrapper #content def {
        border: 1px solid black;
        border-radius: 3px;
        padding: 0 3px; }
        body .wrapper #content def[data-type="Substantiv"] {
          background-color: #FF6D58; }
        body .wrapper #content def[data-type="Verb"] {
          background-color: #FF6D58; }
        body .wrapper #content def[data-type="Adverb"] {
          background-color: #A4FF91; }
        body .wrapper #content def[data-type="Eigennamen"] {
          background-color: #7E8FFF; }
