// imports
@import "../../../../Sites/plugins.coderwelsch.com/scss/mixins.scss";

@import "./_settings.scss";

* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;

	background-color: #F4F4F4;

	* {
		font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	}

	h1 {
		font-weight: bold;
		font-size: 24px;
	}

	.wrapper {
		max-width: 600px;

		margin: 0 auto;
		padding: 40px 0;

		#content {
			margin-top: 20px;

			font-size: 18px;
			font-weight: 400;
			line-height: 22px;

			def {
				border: 1px solid black;
				border-radius: 3px;

				background-color: #8F62FF;
			}
		}
	}
}
